h1 {
    text-align: center;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  background-color: lightgray;
  color: maroon;
  padding: 20px;
  border-radius: 5px;
}

/* Responsive Layouts */
@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

